<%- include('includes/head')%>
<%- include('includes/nav')%>

<main class=".container my-0 py-0" id="chatMain"> 
    <%- include('includes/chatBox')%>

</main>

<%- include('includes/userInput')%>

<%- include('includes/footer')%>
